opc-ua-io.json
[
    {
        "id": "60ed0d4f.42ca64",
        "type": "tab",
        "label": "Input1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3b1c1034.36968",
        "type": "tab",
        "label": "Input 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5a43811a.1197c",
        "type": "tab",
        "label": "OPC UA Server",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bad782b5.f68ac",
        "type": "tab",
        "label": "Open Industry API",
        "disabled": false,
        "info": ""
    },
    {
        "id": "151ef0c9.7db7ef",
        "type": "tab",
        "label": "Debug",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bc2cbaee.5a4f58",
        "type": "subflow",
        "name": "Input",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": []
            }
        ],
        "out": [
            {
                "x": 160,
                "y": 30,
                "wires": [
                    {
                        "id": "bc2cbaee.5a4f58",
                        "port": 0
                    }
                ]
            },
            {
                "x": 215,
                "y": 30,
                "wires": []
            }
        ],
        "env": []
    },
    {
        "id": "f09753da.1962b",
        "type": "OPCUA-IIoT-Connector",
        "z": "",
        "discoveryUrl": "",
        "endpoint": "opc.tcp://localhost:55380",
        "keepSessionAlive": true,
        "loginEnabled": false,
        "securityPolicy": "None",
        "securityMode": "NONE",
        "name": "LOCAL FLEX 80",
        "showErrors": true,
        "publicCertificateFile": "",
        "privateKeyFile": "",
        "defaultSecureTokenLifetime": "",
        "endpointMustExist": false,
        "autoSelectRightEndpoint": false,
        "strategyMaxRetry": "",
        "strategyInitialDelay": "",
        "strategyMaxDelay": "",
        "strategyRandomisationFactor": "",
        "requestedSessionTimeout": "",
        "connectionStartDelay": "",
        "reconnectDelay": ""
    },
    {
        "id": "6d826ba6.b943a4",
        "type": "OPCUA-IIoT-Connector",
        "z": "",
        "discoveryUrl": "",
        "endpoint": "opc.tcp://localhost:55380",
        "keepSessionAlive": true,
        "loginEnabled": false,
        "securityPolicy": "None",
        "securityMode": "NONE",
        "name": "LOCAL FLEX 80",
        "showErrors": true,
        "publicCertificateFile": "",
        "privateKeyFile": "",
        "defaultSecureTokenLifetime": "",
        "endpointMustExist": false,
        "autoSelectRightEndpoint": false,
        "strategyMaxRetry": "",
        "strategyInitialDelay": "",
        "strategyMaxDelay": "",
        "strategyRandomisationFactor": "",
        "requestedSessionTimeout": "",
        "connectionStartDelay": "",
        "reconnectDelay": ""
    },
    {
        "id": "17518d95.bbeb32",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d81cdca2.c02e",
        "type": "OPCUA-IIoT-Server-Command",
        "z": "5a43811a.1197c",
        "commandtype": "restart",
        "nodeId": "",
        "name": "warm restart with defaults",
        "x": 290,
        "y": 120,
        "wires": [
            [
                "709f1fd9.02b96"
            ]
        ]
    },
    {
        "id": "417cf64.0e2d608",
        "type": "OPCUA-IIoT-Inject",
        "z": "5a43811a.1197c",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "",
        "addressSpaceItems": [],
        "x": 100,
        "y": 120,
        "wires": [
            [
                "d81cdca2.c02e"
            ]
        ]
    },
    {
        "id": "98b13289.dbed6",
        "type": "debug",
        "z": "5a43811a.1197c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 650,
        "y": 120,
        "wires": []
    },
    {
        "id": "709f1fd9.02b96",
        "type": "OPCUA-IIoT-Flex-Server",
        "z": "5a43811a.1197c",
        "port": "55380",
        "endpoint": "UA/CNCEdge",
        "acceptExternalCommands": true,
        "maxAllowedSessionNumber": "",
        "maxConnectionsPerEndpoint": "",
        "maxAllowedSubscriptionNumber": "",
        "alternateHostname": "",
        "name": "",
        "showStatusActivities": false,
        "showErrors": true,
        "allowAnonymous": true,
        "individualCerts": false,
        "isAuditing": false,
        "serverDiscovery": true,
        "users": [],
        "xmlsets": [],
        "publicCertificateFile": "",
        "privateCertificateFile": "",
        "registerServerMethod": "1",
        "discoveryServerEndpointUrl": "",
        "capabilitiesForMDNS": "",
        "maxNodesPerRead": "",
        "maxNodesPerBrowse": "",
        "delayToClose": "",
        "addressSpaceScript": "function constructAlarmAddressSpace(server, addressSpace, eventObjects, done) {\n    // server = the created node-opcua server\n    // addressSpace = script placeholder\n    // eventObjects = to hold event variables in memory from this script\n    \n    // internal global sandbox objects are \n    // node = node of the flex server, \n    // coreServer = core iiot server object for debug and access to nodeOPCUA,\n    // and scriptObjects to hold variables and functions\n    const LocalizedText = coreServer.core.nodeOPCUA.LocalizedText\n    const namespace = addressSpace.getOwnNamespace()\n\n    coreServer.internalDebugLog('init dynamic address space')\n    node.warn('construct new address space for OPC UA')\n  \n    \n    // variable with value\n    if(scriptObjects.testReadWrite === undefined || scriptObjects.testReadWrite === null) {\n            scriptObjects.testReadWrite = 1000.0\n    }\n    if(scriptObjects.input1 === undefined || scriptObjects.input1 === null) {\n            scriptObjects.input1 = -1\n    }\n    if(scriptObjects.input2 === undefined || scriptObjects.input2 === null) {\n            scriptObjects.input2 = -1\n    }\n    \n    let myVariables = namespace.addObject({\n        browseName: 'CNC Edge',\n        description: 'The Object representing some variables',\n        organizedBy: addressSpace.rootFolder.objects,\n        notifierOf: addressSpace.rootFolder.objects.server\n    })\n    \n    if(coreServer.core) {\n        namespace.addVariable({\n            componentOf: myVariables,\n            nodeId: 'ns=1;s=TestReadWrite',\n            browseName: 'TestReadWrite',\n            displayName: [\n                new LocalizedText({text: 'Test Read and Write', locale: 'en-US'}),\n                new LocalizedText({text: 'Test Lesen Schreiben', locale: 'de-DE'})\n            ],\n            dataType: 'Double',\n            value: {\n                get: function () {\n                    return new coreServer.core.nodeOPCUA.Variant({\n                        dataType: 'Double',\n                        value: scriptObjects.testReadWrite\n                    })\n                },\n                set: function (variant) {\n                    scriptObjects.testReadWrite = parseFloat(variant.value)\n                    return coreServer.core.nodeOPCUA.StatusCodes.Good\n                }\n            }\n            \n        })\n        \n        namespace.addVariable({\n            componentOf: myVariables,\n            nodeId: 'ns=1;s=Input1',\n            browseName: 'Input1',\n            displayName: [\n                new LocalizedText({text: 'Input1', locale: 'en-US'}),\n                new LocalizedText({text: 'Schreiben1', locale: 'de-DE'})\n            ],\n            dataType: 'Double',\n            value: {\n                get: function () {\n                    return new coreServer.core.nodeOPCUA.Variant({\n                        dataType: 'Double',\n                        value: scriptObjects.input1\n                    })\n                },\n                set: function (variant) {\n                    scriptObjects.input1 = parseFloat(variant.value)\n                    return coreServer.core.nodeOPCUA.StatusCodes.Good\n                }\n            }\n            \n        })\n        \n        namespace.addVariable({\n            componentOf: myVariables,\n            nodeId: 'ns=1;s=Input2',\n            browseName: 'Input2',\n            displayName: [\n                new LocalizedText({text: 'Input2', locale: 'en-US'}),\n                new LocalizedText({text: 'Schreiben2', locale: 'de-DE'})\n            ],\n            dataType: 'Double',\n            value: {\n                get: function () {\n                    return new coreServer.core.nodeOPCUA.Variant({\n                        dataType: 'Double',\n                        value: scriptObjects.input2\n                    })\n                },\n                set: function (variant) {\n                    scriptObjects.input2 = parseFloat(variant.value)\n                    return coreServer.core.nodeOPCUA.StatusCodes.Good\n                }\n            }\n            \n        })\n      \n    } else {\n        coreServer.internalDebugLog('coreServer.core needed for coreServer.core.nodeOPCUA')\n    }\n    \n    done()\n}",
        "x": 490,
        "y": 120,
        "wires": [
            [
                "98b13289.dbed6"
            ]
        ]
    },
    {
        "id": "7ca84f29.8f849",
        "type": "catch",
        "z": "5a43811a.1197c",
        "name": "",
        "scope": null,
        "x": 240,
        "y": 60,
        "wires": [
            [
                "21ab585c.1671f8"
            ]
        ]
    },
    {
        "id": "21ab585c.1671f8",
        "type": "debug",
        "z": "5a43811a.1197c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 650,
        "y": 60,
        "wires": []
    },
    {
        "id": "6abcafe2.bdb1c",
        "type": "mraa-gpio-din",
        "z": "60ed0d4f.42ca64",
        "name": "Input1 - D12",
        "pin": "12",
        "interrupt": "b",
        "initial": true,
        "interval": "10",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "2a58b7cd.363618"
            ]
        ]
    },
    {
        "id": "a6d43959.646948",
        "type": "OPCUA-IIoT-Node",
        "z": "60ed0d4f.42ca64",
        "injectType": "write",
        "nodeId": "ns=1;s=Input1",
        "datatype": "Double",
        "value": "1",
        "name": "",
        "topic": "",
        "showErrors": false,
        "x": 430,
        "y": 60,
        "wires": [
            [
                "c7f31351.229cd"
            ]
        ]
    },
    {
        "id": "2a58b7cd.363618",
        "type": "switch",
        "z": "60ed0d4f.42ca64",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 100,
        "wires": [
            [
                "a6d43959.646948"
            ],
            [
                "790131eb.a2f13"
            ]
        ]
    },
    {
        "id": "790131eb.a2f13",
        "type": "OPCUA-IIoT-Node",
        "z": "60ed0d4f.42ca64",
        "injectType": "write",
        "nodeId": "ns=1;s=Input1",
        "datatype": "Double",
        "value": "0",
        "name": "",
        "topic": "",
        "showErrors": false,
        "x": 430,
        "y": 140,
        "wires": [
            [
                "c7f31351.229cd"
            ]
        ]
    },
    {
        "id": "c7f31351.229cd",
        "type": "link out",
        "z": "60ed0d4f.42ca64",
        "name": "",
        "links": [
            "9c42945.2e2fd68"
        ],
        "x": 595,
        "y": 100,
        "wires": []
    },
    {
        "id": "33f1b4de.b1288c",
        "type": "OPCUA-IIoT-Response",
        "z": "5a43811a.1197c",
        "name": "",
        "compressStructure": true,
        "showStatusActivities": false,
        "showErrors": false,
        "activateUnsetFilter": false,
        "activateFilters": false,
        "negateFilter": false,
        "filters": [],
        "x": 490,
        "y": 180,
        "wires": [
            [
                "a92d132.d73def"
            ]
        ]
    },
    {
        "id": "4abdd5b7.82e3bc",
        "type": "OPCUA-IIoT-Write",
        "z": "5a43811a.1197c",
        "connector": "6d826ba6.b943a4",
        "name": "",
        "justValue": false,
        "showStatusActivities": false,
        "showErrors": true,
        "x": 350,
        "y": 180,
        "wires": [
            [
                "33f1b4de.b1288c"
            ]
        ]
    },
    {
        "id": "a92d132.d73def",
        "type": "debug",
        "z": "5a43811a.1197c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 650,
        "y": 180,
        "wires": []
    },
    {
        "id": "9c42945.2e2fd68",
        "type": "link in",
        "z": "5a43811a.1197c",
        "name": "",
        "links": [
            "c7f31351.229cd",
            "b199ada4.cc27d"
        ],
        "x": 195,
        "y": 240,
        "wires": [
            [
                "4abdd5b7.82e3bc"
            ]
        ]
    },
    {
        "id": "18b053d7.9057fc",
        "type": "debug",
        "z": "151ef0c9.7db7ef",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "85907b00.9c01d8",
        "type": "debug",
        "z": "151ef0c9.7db7ef",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 230,
        "y": 60,
        "wires": []
    },
    {
        "id": "64133df3.02a3e4",
        "type": "function",
        "z": "151ef0c9.7db7ef",
        "name": "values to",
        "func": "let uint8 = new Uint8Array([2])\nmsg.valuesToWrite = [ 20.33];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 160,
        "wires": [
            [
                "18b053d7.9057fc",
                "97949f22.37a2"
            ]
        ]
    },
    {
        "id": "2f06499d.dbf916",
        "type": "OPCUA-IIoT-Inject",
        "z": "151ef0c9.7db7ef",
        "injectType": "write",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "startDelay": "",
        "name": "inject",
        "addressSpaceItems": [
            {
                "name": "",
                "nodeId": "ns=1;s=TestReadWrite",
                "datatypeName": "Double"
            }
        ],
        "x": 90,
        "y": 160,
        "wires": [
            [
                "64133df3.02a3e4",
                "85907b00.9c01d8"
            ]
        ]
    },
    {
        "id": "4152ff34.c5e58",
        "type": "OPCUA-IIoT-Inject",
        "z": "151ef0c9.7db7ef",
        "injectType": "write",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "inject",
        "addressSpaceItems": [
            {
                "name": "",
                "nodeId": "ns=1;s=TestReadWrite",
                "datatypeName": "Double"
            }
        ],
        "x": 90,
        "y": 320,
        "wires": [
            [
                "43ea66be.6888d8"
            ]
        ]
    },
    {
        "id": "97949f22.37a2",
        "type": "link out",
        "z": "151ef0c9.7db7ef",
        "name": "",
        "links": [
            "a39bc930.4b2738"
        ],
        "x": 595,
        "y": 120,
        "wires": []
    },
    {
        "id": "a39bc930.4b2738",
        "type": "link in",
        "z": "5a43811a.1197c",
        "name": "",
        "links": [
            "97949f22.37a2"
        ],
        "x": 195,
        "y": 180,
        "wires": [
            [
                "4abdd5b7.82e3bc"
            ]
        ]
    },
    {
        "id": "7e4a3097.148a4",
        "type": "mraa-gpio-din",
        "z": "3b1c1034.36968",
        "name": "Input2 - D11",
        "pin": "11",
        "interrupt": "b",
        "initial": true,
        "interval": "10",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "43844dda.24af44"
            ]
        ]
    },
    {
        "id": "d17a3328.86e84",
        "type": "OPCUA-IIoT-Node",
        "z": "3b1c1034.36968",
        "injectType": "write",
        "nodeId": "ns=1;s=Input2",
        "datatype": "Double",
        "value": "1",
        "name": "",
        "topic": "",
        "showErrors": false,
        "x": 430,
        "y": 60,
        "wires": [
            [
                "b199ada4.cc27d"
            ]
        ]
    },
    {
        "id": "43844dda.24af44",
        "type": "switch",
        "z": "3b1c1034.36968",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 100,
        "wires": [
            [
                "d17a3328.86e84"
            ],
            [
                "20233166.99eabe"
            ]
        ]
    },
    {
        "id": "20233166.99eabe",
        "type": "OPCUA-IIoT-Node",
        "z": "3b1c1034.36968",
        "injectType": "write",
        "nodeId": "ns=1;s=Input2",
        "datatype": "Double",
        "value": "0",
        "name": "",
        "topic": "",
        "showErrors": false,
        "x": 430,
        "y": 140,
        "wires": [
            [
                "b199ada4.cc27d"
            ]
        ]
    },
    {
        "id": "b199ada4.cc27d",
        "type": "link out",
        "z": "3b1c1034.36968",
        "name": "",
        "links": [
            "9c42945.2e2fd68"
        ],
        "x": 595,
        "y": 100,
        "wires": []
    },
    {
        "id": "fca7e989.01c8e8",
        "type": "OPCUA-IIoT-Read",
        "z": "5a43811a.1197c",
        "attributeId": "13",
        "maxAge": 1,
        "depth": 1,
        "connector": "6d826ba6.b943a4",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 350,
        "y": 300,
        "wires": [
            [
                "3aced4b.4aa032c"
            ]
        ]
    },
    {
        "id": "5a2c7102.bfa1",
        "type": "debug",
        "z": "5a43811a.1197c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 670,
        "y": 300,
        "wires": []
    },
    {
        "id": "3aced4b.4aa032c",
        "type": "OPCUA-IIoT-Response",
        "z": "5a43811a.1197c",
        "name": "",
        "compressStructure": true,
        "showStatusActivities": false,
        "showErrors": false,
        "activateUnsetFilter": false,
        "activateFilters": false,
        "negateFilter": false,
        "filters": [],
        "x": 490,
        "y": 300,
        "wires": [
            [
                "5a2c7102.bfa1"
            ]
        ]
    },
    {
        "id": "24ffbeb8.18a9d2",
        "type": "link in",
        "z": "5a43811a.1197c",
        "name": "",
        "links": [
            "43ea66be.6888d8"
        ],
        "x": 195,
        "y": 300,
        "wires": [
            [
                "fca7e989.01c8e8"
            ]
        ]
    },
    {
        "id": "43ea66be.6888d8",
        "type": "link out",
        "z": "151ef0c9.7db7ef",
        "name": "",
        "links": [
            "24ffbeb8.18a9d2"
        ],
        "x": 595,
        "y": 320,
        "wires": []
    },
    {
        "id": "4bf6c1f9.d9d4a",
        "type": "http request",
        "z": "bad782b5.f68ac",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://sta.openindustry.org/api/services/app/DeviceEvent/Create",
        "tls": "",
        "proxy": "",
        "authType": "bearer",
        "x": 250,
        "y": 120,
        "wires": [
            [
                "c75e284d.4f9e58"
            ]
        ]
    },
    {
        "id": "c75e284d.4f9e58",
        "type": "debug",
        "z": "bad782b5.f68ac",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 630,
        "y": 120,
        "wires": []
    },
    {
        "id": "df6ae8ce.ff2d48",
        "type": "inject",
        "z": "bad782b5.f68ac",
        "name": "",
        "topic": "",
        "payload": "{\"deviceId\":1,\"statusName\":\"Unknown\",\"entity1\":0,\"entity2\":1,\"entity3\":2,\"entity4\":3,\"entity5\":4}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 70,
        "y": 120,
        "wires": [
            [
                "4bf6c1f9.d9d4a"
            ]
        ]
    },
    {
        "id": "6de9c502.5c725c",
        "type": "catch",
        "z": "bad782b5.f68ac",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 240,
        "y": 60,
        "wires": [
            [
                "32ffe0d5.c54b6"
            ]
        ]
    },
    {
        "id": "32ffe0d5.c54b6",
        "type": "debug",
        "z": "bad782b5.f68ac",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 630,
        "y": 60,
        "wires": []
    }
]